<div class="bg-[#0F1824] min-h-screen px-20 py-10 text-white mt-20">
    <div>
        <p class="">OUR BUSINESS AREAS</p>

        <h1 class="py-6 text-4xl font-bold text-white">Excellence in Services</h1>
        <p>We are leaders in providing marketing services with a set of cutting-edge technologies and a team of
            experienced and renowned professionals. These are some options that you can hire.</p>
    </div>

    <div class="gap-x-4 " >
        <div class="outside-box-1 ">
            <div class=" card-body shadow-lg bg-[#171C25] mt-4 rounded-lg hover:scale-90 duration-700">
                <h2>Website Pro 2</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class=" card-body shadow-lg bg-[#171C25] mt-4 rounded-lg hover:scale-90 duration-700">
                <h2>Website Pro</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="outside-box-2 py-5">
            <div class=" card-body shadow-lg bg-[#171C25] mt-4 rounded-lg hover:scale-90 duration-700">
                <h2>Website Pro</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class=" card-body shadow-lg bg-[#171C25] mt-4 rounded-lg hover:scale-90 duration-700">
                <h2>Website Pro</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>

        <div class="outside-box-1">
            <div class=" card-body shadow-lg bg-[#171C25] mt-4 rounded-lg hover:scale-90 duration-700">
                <h2>Website Pro</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class=" card-body shadow-lg bg-[#171C25] mt-4 rounded-lg hover:scale-90 duration-700">
                <h2>Website Pro</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
</div>